body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/*Global*/
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

button a{
}

button{
  position:relative;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%)
}

button {
   background: none;
   color: grey;
   width: 30%;
   max-width: 400px;
   height: 100px;
   border: 1px solid #76D7C4;
   font-size: 18px;
   border-radius: 4px;
   transition: .6s;
   overflow: hidden;
}
button:focus{
 outline:none;
 }
button:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}

button:after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);
}
button:hover {
    background: #76D7C4;
 cursor:pointer;
 }

button:hover:before {
   transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}

button:hover:after {
   transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
}

.dark_color{
  padding:15px;
  background: #35424a;
  color:#ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Header**/
header{
  background:#212F3C;
  color: #ffffff;
  padding-top:20px;
  min-height:50px;
  border-bottom:#76D7C4 3px solid;
}

header a{
  color: #ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float:left;
  display:inline;
  padding:0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding img{
  height: 60px;
  margin-top:0px;
  padding-bottom: 15px;
}

header #branding h1{
  margin-top: 0px;
}

header nav{
  float:right;
  margin-top:10px;
  padding: 10px;

}

header .hightlight, header .current a{
  color: #76D7C4;
  font-weight:bold;
}

header a:hover{
  color: #76D7C4;
  font-weight:none;
}

/* Showcase */
#showcase{
  min-height:400px;
  background:url('../img/showcase.jpg') no-repeat 0px 0px;
  background-position: center;
  background-size:cover;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

.change h1{
  margin-top: 0px;
  font: 30px/1.5 Arial;
  font-weight: normal;
  color: grey;
  text-align: center;
  float:left;
  width: 100%;
}

.textOverImage{
    display: block;
    margin-bottom : 20px;
    margin-right: 20px;
    left: 5%;
    right: 5%;
    position:relative;
    padding: 20 px;
    width: 45%;
    min-height: 300px;
    float: left;
    background-size:100%;
    background-position:center;
    transition:0.5s;
    box-shadow: 0 30px 60px rgba(0,0,0,0.2);
    border-radius: 10px;
  }

.textOverImage:hover{
    background-size:110%;
}

.textOverImage:after{
    position:absolute;
    top:90%;
    bottom:0;
    left:0;
    right:0;
    white-space:pre-wrap;
    overflow:hidden;
    background-color:rgba(0,0,0,0.3);
    color:#fff;
    padding:0 8px;
    content:attr(data-text);
    transition:0.5s;
    border-radius: 10px;
}

.textOverImage:hover:after{
    top:0;
    padding:8px;
    background-color:rgba(0,0,0,0.6);
}

.textOverImage:first-line{
    color:#fff;
    font-weight:bold;
    font-size:1.5em;
}
/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

#boxes .zoom {
  padding: 10px;
  background-color: none;
  transition: transform .2s; /* Animation */
  margin-top: 5px;
}

#boxes .zoom:hover {
  transform: scale(1.5); /* (150% zoom) */
}

/*Sidebar*/

aside#sidebar{
  float:right;
  width: 30%;
  margin-top:10px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}


footer{
  padding:20px;
  margin-top:20px;
  color: #ffffff;
  background-color:#76D7C4;
  text-align: center;
}

/* Media Queries */
@media(max-width: 1000px){
  header #branding,
  header nav,
  header nav li{
  float:none;
  text-align: center;
  width:100%;
  }
  header{
    padding-bottom:20px;
  }
}

@media(max-width: 800px){
  header #branding,
  header nav,
  header nav li,
  article#main-col,
  aside#sidebar{
  float:none;
  text-align: center;
  width:100%;
  }

  #boxes .box,
  button{
  float:none;
  text-align: center;
  width:90%;
  }

  #boxes .box img{
    width:100px;
  }

  .textOverImage{
    margin-bottom: 20px;
    margin-right:20px;
    margin-left:0px;
    width: 90%;
    overflow: hidden;
    padding: 0px;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

}

}
