body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/*Global*/
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:30px;
  background: #76D7C4;
  border:0;
  padding-right:20px;
  padding-left:20px;
  color:#ffffff;
}

.dark_color{
  padding:15px;
  background: #35424a;
  color:#ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Header**/
header{
  background:#212F3C;
  color: #ffffff;
  padding-top:30px;
  min-height:50px;
  border-bottom:#76D7C4 3px solid;
}

header a{
  color: #ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float:left;
  display:inline;
  padding:0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding img{
  float:left;
  width:60px;
  margin-top:-5px;
}

header #branding h1{
  margin-left:100px;
  margin-top: 0px;
}

header nav{
  float:right;
  margin-top:10px;
}

header .hightlight, header .current a{
  color: #76D7C4;
  font-weight:bold;
}

header a:hover{
  color: #76D7C4;
  font-weight:none;
}

/* Showcase */
#showcase{
  min-height:400px;
  background:url('../img/showcase.jpg') no-repeat 0px 0px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* Content */
/*
#content{

  text-align: center;
  width: 100%;
}

#content h1{
  font: 15px/1.5 sans-serif;
}

#content img{
  margin: 1%;
  width: 45%;
  overflow: hidden;
}
*/
.change h1{
  margin-top: 0px;
  font: 30px/1.5 sans-serif;
  font-weight: bold;
  color: #000000;
  text-align: center;
  float:left;
  width: 100%;
}
/*
#content .change img:hover{
  filter: grayscale(20%);
  transform: scale(1.05);
}
*/
.textOverImage{
    display: block;
    margin: 5px;
    position:relative;
    left: 5%;
    right: 5%;
    padding: 0px;
    width: 45%;
    min-height: 300px;
    float: left;
    background-size:100%;
    background-position:center;
    transition:0.5s;
    padding: 1px;
    box-shadow: 0 40px 60px rgba(0,0,0,0.75);
  }

.textOverImage:hover{
    background-size:110%;
}

.textOverImage:after{
    position:absolute;
    top:92%;
    bottom:0;
    left:0;
    right:0;
    white-space:pre-wrap;
    overflow:hidden;
    background-color:rgba(0,0,0,0.3);
    color:#fff;
    padding:0 8px;
    content:attr(data-text);
    transition:0.5s;
}

.textOverImage:hover:after{
    top:0;
    padding:8px;
    background-color:rgba(0,0,0,0.6);
}

.textOverImage:first-line{
    color:#fff;
    font-weight:bold;
    font-size:1.5em;
}
/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

#boxes .zoom {
  padding: 10px;
  background-color: none;
  transition: transform .2s; /* Animation */
  margin-top: 5px;
}

#boxes .zoom:hover {
  transform: scale(1.5); /* (150% zoom) */
}

/*Sidebar*/

aside#sidebar{
  float:right;
  width: 30%;
  margin-top:10px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}


footer{
  padding:20px;
  margin-top:20px;
  color: #ffffff;
  background-color:#76D7C4;
  text-align: center;
}

/* Media Queries */
@media(max-width: 800px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
  float:none;
  text-align: center;
  width:100%;
  }

  .textOverImage{
    margin: auto;
    float:none;
    width: 90%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }


}
