body{
  font: 15px/1.5 Arial;
  padding:0;
  margin:0;
  background-color:#ffffff;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

.content_box{
  position:relative;
  background:	#ccffff;
  margin-top: 5%;
  color: #404040;
  width: 99%;
  font-size: 18px;
  border-radius: 10px;
  transition: 1s;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0,0,0,0.05);
}

.content_text{
  padding-left: 20px;
  padding-right: 20px;
}

ul{
  margin:0;
  padding:0;
}

.interact{
  position:relative;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%)
}

.interact{
   background: none;
   margin-top: 5%;
   color: grey;
   width: 30%;
   max-width: 400px;
   height: 100px;
   border: 1px solid #76D7C4;
   font-size: 18px;
   border-radius: 4px;
   transition: .6s;
   overflow: hidden;
}
.interact:focus{
 outline:none;
 }
.interact:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}

.interact:after{
  content: '';
  display: block;
  position: absolute;
  background: rgba(255,255,255,.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) scaleX(-15deg);
}
.interact:hover {
  background: #76D7C4;
  cursor:pointer;
 }

.interact:hover:before {
   transform: translateX(300px) skewX(-15deg);
   opacity: .6;
   transition: .7s;
}

.interact:hover:after {
   transform: translateX(300px) skewX(-15deg);
   opacity: 1;
   transition: .7s;
}

.download_button{
  position:relative;
  background: #923CED;
  margin-top: 5%;
  color: #ffffff;
  width: 200px;
  max-width: 400px;
  height: 50px;
  border: 1px solid #923CED;
  font-size: 18px;
  border-radius: 4px;
  transition: .6s;
  overflow: hidden;
}
.download_button:focus{
 outline:none;
 }

.download_button:hover {
  background: none;
  cursor:pointer;
  color: #923CED;
 }

.download_button:hover:before {
   transition: .7s;
}

.download_button:hover:after {
   transition: .7s;
}

.dark_color{
  padding:15px;
  background: #35424a;
  color:#ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Header**/
header{
  background:#212F3C;
  color: #ffffff;
  padding-top:20px;
  min-height:50px;
  border-bottom:#76D7C4 3px solid;
}

header a{
  color: #ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float:left;
  display:inline;
  padding:0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding img{
  height: 60px;
  margin-top:0px;
  padding-bottom: 15px;
}

header #branding h1{
  margin-top: 0px;
}

header nav{
  position: sticky;
  float:right;
  margin-top:10px;
  padding: 10px;

}

header .hightlight, header .current a{
  color: #76D7C4;
  font-weight:bold;
}

header a:hover{
  color: #76D7C4;
  font-weight:none;
}

/* Showcase */
#showcase{
  min-height:400px;
  background:url('../img/showcase.jpg') no-repeat 0px 0px;
  background-position: center;
  background-size:cover;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

.part{
  display: block;
  padding-top: 30px;
  margin-top: 0px;
  font: 30px/1.5 Arial;
  font-weight: normal;
  color: grey;
  text-align: center;
  float:left;
  width: 100%;
}

.part p{
  margin-left: 10%;
  float: left;
  text-align: left;
  font-size: 25px;
}

.part img{
  position: relative;
  height: 300px;
  margin-right:10%;
  margin-top: -40px;
}

.textOverImage{
  display: block;
  margin-bottom : 20px;
  margin-right: 20px;
  left: 5%;
  right: 5%;
  position:relative;
  padding: 10 px;
  width: 45%;
  min-height: 300px;
  float: left;
  background-size:100%;
  background-position:center;
  transition:0.7s;
  box-shadow: 0 30px 60px rgba(0,0,0,0.2);
  border-radius: 10px;
  }

.textOverImage:hover{
    background-size:110%;
}

.textOverImage:after{
    position:absolute;
    top:89%;
    bottom:0;
    left:0;
    right:0;
    white-space:pre-wrap;
    overflow:hidden;
    background-color:rgba(0,0,0,0.3);
    color:#fff;
    padding:0 8px;
    content:attr(data-text);
    transition:1s;
    border-radius: 10px;
}

.textOverImage:hover:after{
    top:0;
    padding:8px;
    background-color:rgba(0,0,0,0.6);
}

.textOverImage:first-line{
    color:#fff;
    font-weight: normal;
    font-size:1.5em;
}
/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  background-color: #f4f4f4;
  border-radius: 10px;
  float:left;
  text-align: center;
  width:30%;
  height: 300px;
  padding:1%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 1.3%;
}

#boxes .box img{
  width:90px;
}

#boxes .zoom {
  padding: 10px;
  background-color: none;
  transition: transform .2s; /* Animation */
  margin-top: 5px;
}

#boxes .zoom:hover {
  transform: scale(1.5); /* (150% zoom) */
}

/* Contact*/
form{
  display: block;
  width: 60%;
  color: #CDF3EF;
  border-radius: 20px;
  margin: auto;
  text-align: center;
  float:none;
  background-color: #CDF3EF;
  margin-bottom: 40px;
}

form p{
  color: #000;
  font-size: 30px;
  font-family: Arial;
  padding-top: 40px;
}
.contactform{
  width: 90%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  color: #000;
  font-size: 18px;
  font-family: Arial;
  margin-bottom: 20px;
}

.submit{
  position:relative;
  background: #76D7C4;
  color: grey;
  width: 200px;
  max-width: 400px;
  height: 50px;
  border: 1px solid #76D7C4;
  font-size: 18px;
  border-radius: 4px;
  transition: .6s;
  margin-bottom: 20px;
}

.submit:hover{
  background: #57978A;
  color: white;
  border: 1px solid #57978A;
}

/*Sidebar*/

aside#sidebar{
  float:right;
  width: 30%;
  margin-top:10px;
}

/* Main-col */
article#main-col{
  float:none;
  display: block;
  font-family: Arial;
  font-size: 25px;
  margin-left: 5%;
}

article#main-col p{
  font-size: 20px;
  width:90%;
}

article#main-col img{
  width: 300px;
  margin-left: 10px;
  margin-bottom: 20px;
  animation-name: fadeIn;
  animation-duration: 6s;
}

article#main-col .art{
  width: 35%;
  margin-bottom: 20px;
  margin-right: 5%;
}

article#main-col .art_2{
  height: 35%;
  margin-bottom: 20px;
  margin-right: 5%;
  margin-top: : -30px;
  padding bottom: 30px;
}

footer{
  display: block;
  padding:20px;
  margin-top:20px;
  color: #ffffff;
  background-color:#76D7C4;
  text-align: center;
}

footer img{
    float: none;
    width: 30px;
    margin-right: 5px;
    vertical-align: middle;
}

footer .lift{
  display: left;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 25px;
  margin-top: -10px;
}
/* Media Queries */
@media(max-width: 1000px){
  header #branding,
  header nav,
  header nav li{
  float:none;
  text-align: center;
  width:100%;
  }
  header{
    padding-bottom:20px;
  }
  footer .lift{
    display: block;
    white-space:pre-line;
  }
  aside#sidebar img{
    white-space:pre-line;
    float: none;
    margin-left: 0px;
  }
}

@media(max-width: 800px){
  header nav,
  header nav li,
  aside#sidebar,
  .part,
  footer .lift{
  float: none;
  text-align: center;
  width:100%;
  }

  .container{
    width: 90%;
  }
  #boxes .box,
  .interact,
  article#main-col{
  float:none;
  text-align: center;
  width:90%;
  }

  #boxes .box img{
    padding-top:10px;
    width:100px;
  }

  .part img{
    float:none;
    margin-right:0;
    padding-left: 30px;
    padding-right: 30px;
  }
  .part p{
    white-space:pre-line;
    padding: 20px;
    padding-bottom: 0px;
    margin-right: 5%;
    margin-left: 5%;
    float:none;
    text-align: center;
    font-size: 20px;
  }

  .part br{
    display: none;
  }

  .interact{
    margin-top: 40px;
  }

  .download_button{
    text-align: center;
    float: none;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }

  .textOverImage{
    margin-bottom: 20px;
    margin-right:20px;
    margin-left:0px;
    width: 90%;
    overflow: hidden;
    padding: 0px;
  }

  header{
    padding-bottom:0px;
  }

  header #branding img{
    width: 80%;
    height: 80%;
    padding-bottom: 0px;
  }

  article#main-col,
  article#main-col .art,
  article#main-col .art_2{
  float:none;
  text-align: center;
  width:90%;
  }

  article#main-col img{
    float: none;
    margin-left: 0px;
    white-space:pre-line;
  }

  #showcase h1{
    margin-top:40px;
  }

  footer .lift{
    display: block;
  }

}
